.env
.env.backup
.env.production
.git
.idea
.vscode
node_modules
vendor
public/build
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
npm-debug.log
yarn-error.log
*.log
